---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/" class="font-architectural font-size-1_25 uppercase">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/" aria-label="Blog">
				<span class="material-symbols-outlined" aria-hidden="true">lists</span>
				<span class="sr-only">Blog</span>
			</HeaderLink>
			<HeaderLink href="/about" aria-label="About">
				<span class="material-symbols-outlined" aria-hidden="true">info</span>
				<span class="sr-only">About</span>
			</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0.5em;
	}
	nav a {
        padding: 0.5em;
        border-radius: 100vw;

        color: rgb(var(--gray));
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		color: rgb(var(--black));
		background-color: var(--accent);
	}
	.internal-links {
		text-align: right;
		white-space: nowrap;
		a {
			margin-left: 0.5em;
			display: inline-flex;
			align-items: center;
		}
		.material-symbols-outlined {
			font-size: 1.4em;
			line-height: 1;
		}
	}
</style>
